body {
    background-color: #ffc1073d;
}

img {
    width: 300px;
    height: auto;
}

@media screen and (max-width: 1000px) {
    body {
        background-color: rgb(207, 59, 43);
    }

    img {
        width: 250px;
    }
}

@media screen and (max-width: 860px) {
    body {
        background-color: rgb(116, 204, 191);
    }

    img {
        width: 200px;
        height: auto;
    }
}

@media only screen and (max-width : 720px) {
    body {
        background-color: rgb(74, 76, 105);
    }

    img {
        width: 150px;
        height: auto;
    }

}

@media only screen and (max-width : 480px) {
    body {
        background-color: rgb(211, 120, 225);
    }

    img {
        width: 100px;
        height: auto;
    }
}
